{namespace sFaq=SKYFILLERS\SfSimpleFaq\ViewHelpers}
<f:if condition="{settings.category}==0">
    <f:if condition="{settings.overview}==1">
        <f:link.action action="list" controller="Faq">
            <span {sFaq:SetCategoryClass(currentCategory: 0, selectedCategories: selectedCategories)}><f:translate key="tx_sfsimplefaq_domain_model_category.all"/></span>
        </f:link.action>
        <f:for each="{categories}" as="category">
            <f:link.action action="list" controller="Faq" arguments="{selectedCategories: '{category.uid}'}">
                <span {sFaq:SetCategoryClass(currentCategory: category.uid, selectedCategories: selectedCategories)}>{category.title}</span>
            </f:link.action>
        </f:for>
    </f:if>
</f:if>