<f:if condition="{faqs}">
    <f:then>
        <ul>
            <f:for each="{faqs}" as="faq">
                <li>
                    <f:if condition="{settings.showAnswersInListView}">
                        <f:then>
                            {faq.question}
                            <ul>
                                <li>
                                    <f:format.raw>{faq.answer}</f:format.raw>
                                </li>
                            </ul>
                        </f:then>
                        <f:else>
                            <f:link.action action="detail" controller="Faq" pageUid="{settings.detailPageUid}" arguments="{faq: faq, selectedCategories: selectedCategories}">{faq.question}</f:link.action>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:then>
    <f:else>
        <f:if condition="{searchtext}">
            <p class="faq-noresults"><f:translate key="tx_sfsimplefaq_domain_model_faq.noresults"/>"{searchtext}".</p>
        </f:if>
    </f:else>
</f:if>