{namespace sFaq=SKYFILLERS\SfSimpleFaq\ViewHelpers}
<f:if condition="{settings.category}==0">
    <f:if condition="{settings.overview}==1">
        <ul>
            <f:for each="{categories}" as="category">
                <li>
                    <f:link.action action="list" controller="Faq" arguments="{selectedCategories: '{sFaq:appendCategory(selectedCategories: selectedCategories, newCategory: category.uid)}'}">
                        {category.title} - <sFaq:categoryActive currentCategory="{category.uid}" selectedCategories="{selectedCategories}" />
                    </f:link.action>
                </li>
            </f:for>
        </ul>
        <f:link.action action="list" controller="Faq" arguments="{selectedCategories: 0}">
            <span {f:if(condition: '{category.uid}=={selectedCategory}', then: 'class="faq-active-link"')}>
            <f:translate key="tx_sfsimplefaq_domain_model_category.all"/>
            </span>
        </f:link.action>
    </f:if>
</f:if>