<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{settings.category}==0">
        <f:if condition="{settings.overview}==1">
            <f:link.action action="list" controller="Faq" arguments="{selectedCategories: '0'}">
                <span {f:if(condition: '{category.uid}=={selectedCategory}', then: 'class="faq-active-link"')}><f:translate key="tx_sfsimplefaq_domain_model_category.all"/></span>
            </f:link.action>
            <f:for each="{categories}" as="category">
                <f:link.action action="list" controller="Faq" arguments="{selectedCategories: '{category.uid}'}">
                    <span {f:if(condition: '{category.uid}=={selectedCategory}', then: 'class="faq-active-link"')}>{category.title}</span>
                </f:link.action>
            </f:for>
        </f:if>
    </f:if>
    <f:if condition="{faqs}">
        <f:then>
            <ul>
                <f:for each="{faqs}" as="faq">
                    <li>
                        {faq.question}
                        <ul>
                            <li>
                                <f:format.raw>{faq.answer}</f:format.raw>
                            </li>
                        </ul>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <p class="faq-noresults"><f:translate key="tx_sfsimplefaq_domain_model_faq.noresults"/>"{searchtext}".</p>
        </f:else>
    </f:if>
</f:section>
